# Local asset folders (id Software's copyrighted game assets).
# The game auto-detects these locally and falls back to its own
# procedural art and synthesized audio when they are absent, so
# the hosted build works without them. They are intentionally
# not distributed with this repo.
SFX/
Doom OST/
sprites/
Maps/
Guns/
